.image-editor {
    display: flex;
    width: 910px;
    margin: 18px;
    padding: 16px;

    .editor-controls {
        width: 228px;
        height: 100%;
        position: relative;
        overflow-y: auto;
    }
}

.score-control {
    padding-top: 20px;
    padding-bottom: 26px;
}

.canvas-column {
    width: 682px;
    height: 672px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.canvas-container {
    position: relative;

    &.grouped {
        max-width: 400px;
        max-height: 400px;
        padding-top: 2px;
        padding-bottom: 2px;
    }


    .output {
        position: absolute;
        left: 0;
        border-radius: 10px;

        &.canvas {
            z-index: 999;
        }

        &.image {
            z-index: 998;

            &.pixelated {
                image-rendering: pixelated;
            }

            &.grayscale {
                filter: grayscale(1);
            }

        }
    }

}

.vertical {
    height: 400px;

    &.single {
        min-height: 400px;
        height: unset;
    }
}

.horizontal {
    width: 400px;

    &.single {
        min-height: 400px;
        width: unset;
    }

}

.single {
    max-width: unset;
    max-height: unset;
}

.slider-container {
    margin: 8px;
    display: flex;

    input[type='range'] {
        -webkit-appearance: none;
        width: 95%;

        &:focus {
            outline: none;
        }

        &::-webkit-slider-runnable-track {
            background: #eaecf2;
            height: 5px;
        }

        &::-moz-range-track {
            background: #eaecf2;
            height: 5px;
        }

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: 15px;
            width: 15px;
            background: #5155f5;
            margin-top: -5px;
            border-radius: 50%;
            border: 1px solid #ffffff;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
            cursor: grab;
        }

        &::-moz-range-thumb {
            height: 15px;
            width: 15px;
            background: #5155f5;
            margin-top: -5px;
            border-radius: 50%;
            border: 1px solid #ffffff;
            box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
            cursor: grab;
        }
    }
}

.image-controls {
    padding-top: 40px;
    padding-bottom: 20px;
}

.checkbox {
    padding-bottom: 26px;
}

.checkbox-label {
    padding-left: 12px;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}

.checkbox-container {
    display: flex;
    justify-content: space-between;
}

.output-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.metadata-div {
    overflow: auto;
    max-height: 300px;
    white-space: nowrap;
    display: grid;
}
