.label {
    border-radius: 50px;
    display: inline-block;
    padding: 6px 8px;
    margin: 4px;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    cursor: pointer;

    &.disabled {
        opacity: 0.5;
    }
}