#settings-bar {
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    z-index: 999;
    background: white;
}

#matrix-select {
    display: flex;
    align-items: center;
}
#matrix-select > div {
    width: 350px;
}
#matrix-select > a {
    all: unset;
}

#nav-bar {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: baseline;
}

#nav-bar-1 {
    display: flex;
    width: fit-content;
    column-gap: 12px;
}

.pagination {
    display: flex;
    align-items: baseline;
    padding-right: 25px;
    font-family: 'Roboto';
    color: #5f677e;
    line-height: 14px;
    font-weight: 400;
    font-size: 12px;
}

.pagination > div {
    padding-left: 0.25em;
}
.selector {
    background-color: #3438d0;
}

.multi-select-columns {
    display: flex;
    flex-direction: column;
    padding: 16px 14px 10px 14px;
}

.multi-select-columns > .title {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 18px;
}

.multi-select-columns > .subtitle {
    font-weight: 400;
    font-size: 12px;
    color: #5F677E;
    text-align: center;
    padding-bottom: 40px;
}

.multi-select-columns-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 500px;
}

.multi-select-columns-body > .button-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.multi-select-columns-body .reset {
    font-size: 14px;
    color: #5155F5;
    cursor: pointer;
}

.button-outline {
    color: #5155f5;
    border: 1px solid #5155f5;
    border-radius: 5px;
    padding: 7.5px 12px;
    font-family: 'Roboto';
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    cursor: pointer;
    max-height: 34px;
    box-sizing: border-box;
    white-space: nowrap;
}

.active-button {
    border: 2px solid #5155f5;
}

.button-outline > img {
    padding-right: 3px;
    height: 10.5px;
    width: 10.5px;
}

.button {
    width: fit-content;
    padding: 11px 32px;
    font-size: 14px;
    font-weight: 500;
}

.select-modal-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 17px 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

.select-modal-title > div {
    display: flex;
}

.select-modal-title > .reset-button {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    cursor: pointer;
    margin-left: 54px;
}

.select-modal-title > .disabled {
    color: #afb0fb;
}

.select-modal-title > .enabled {
    color: #5155f5;
}

.select-modal-body {
    border-top: 1px solid #f0f2f6;
    width: 100%;
    display: flex;
    align-items: center;
}

.select-modal-body > div:first-child {
    width: 100%;
}

.accordion-label {
    display: flex;
    cursor: pointer;
}
.accordion-content {
    height: 0;
    overflow: scroll;
    transition: 0.5s;
}

.accordion-content.active {
    height: auto;
    padding: 10px 0;
}

.arrow-toggle {
    cursor: pointer;
    padding-left: 0.75em;
}

.arrow-toggle > svg {
    font-size: 1.25rem;
}

/* 3rd Party Specific */

/* Material UI */

.MuiPaper-root {
    min-width: 300px;
    max-width: 1400px;
    max-height: 90%;
    padding: 16px;
    background: white;
    box-sizing: border-box;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.13);
    border-radius: 4px;

    display: flex;
    flex-direction: column;

    overflow: hidden;
}

.MuiDialog-paperWidthSm {
}

.MuiPaper-root .expanded > * {
    max-height: 500px;
}

.MuiOutlinedInput-root {
    max-height: 34px;
    box-sizing: border-box;
    border: 1px solid #5155f5;
    border-right: 0;
    border-radius: 4px;
}

.MuiOutlinedInput-notchedOutline {
    border: 0;
}

/* TODO: Fix this !important flag by customizing the styles in MUI better */
.MuiInputBase-adornedEnd {
    padding-right: 0 !important;
}

.MuiAccordion--root {
    padding: 0;
}

.MuiDialog-container div[role='dialog'] {
}

/* TODO: Fix this !important flag by customizing the styles in MUI better */
.MuiPopover-paper {
    overflow: visible !important;
}


/* react-select */

.react-select-list {
    position: relative;
}

/* https://github.com/yury-dymov/react-autocomplete-input/blob/master/src/AutoCompleteTextField.css */
.react-autocomplete-input {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.15);
    bottom: auto;
    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
    display: block;
    font-size: 14px;
    list-style: none;
    padding: 1px;
    position: absolute;
    text-align: left;
    z-index: 20000;
 }

 .react-autocomplete-input > li {
   cursor: pointer;
   padding: 10px;
   min-width: 100px;
 }

 .react-autocomplete-input > li.active {
   background-color: #337ab7;
   color: #fff;
 }

/* Media queries */
@media (max-width: 750px) {
    .main {
        padding: 0;
        width: auto;
    }
}

/* Resets */

/* Adapted from Normalize: https://github.com/necolas/normalize.css/blob/master/normalize.css */
.button {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
    font-size: 50%;
    line-height: 1.15;
    margin: 0;
    overflow: visible;
    text-transform: none;
    border: 0;
    border-radius: 10%;
    color: white;
    -webkit-appearance: button;
    background-color: #3438d0;
    cursor: pointer;
    padding: 5px 10px;
}

.cell-verbatim {
    text-overflow: ellipsis;
    width: 150px;
    overflow: hidden;
}

.cached-icon {
    cursor: pointer;
    color: #3438d0;
}

.kangas-title {
    text-align: center;
    color: #3438d0;
}

.kangas-list-item {
}

.kangas-item {
    font-weight: bold;
    color: #3438d0;
}

.kangas-value {
}

#filter {
    resize: none;
    white-space: nowrap;
    overflow-x: hidden;
    height: 25px;
}
