.button {
    display: inline-block;
    padding: 11px 32px;
    font-size: 14px;
    font-weight: 500;
}

.button-outline {
    color: #5155f5;
    border: 1px solid #5155f5;
    border-radius: 5px;
    padding: 7.5px 12px;
    font-family: 'Roboto';
    font-weight: 500;
    display: inline-block;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    cursor: pointer;
    max-height: 34px;
    box-sizing: border-box;
    white-space: nowrap;
}

.button-outline > img {
    padding-right: 3px;
    height: 10.5px;
    width: 10.5px;
}

.active-button {
    border: 2px solid #5155f5;
}


.kangas-title {
    text-align: center;
    color: #3438d0;
}

.kangas-list-item {
}

.kangas-item {
    font-weight: bold;
    color: #3438d0;
}

.kangas-value {
}
