.pagination {
    display: flex;
    align-items: baseline;
    padding-right: 25px;
    font-family: 'Roboto';
    color: #5f677e;
    line-height: 14px;
    font-weight: 400;
    font-size: 12px;
    justify-content: space-between;
    max-width: 100%;
}

button.rounded {
    color: #5155f5;
    border: 1px solid #5155f5;
    border-radius: 5px;
    padding: 7.5px 12px;
    font-family: 'Roboto';
    font-weight: 500;
    display: inline-block;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    cursor: pointer;
    max-height: 34px;
    box-sizing: border-box;
    white-space: nowrap;
}

button.rounded:disabled {
    cursor: unset;
    color: lightgrey;
    border: 1px solid grey;
}

.left-bar {
    display: flex;
    width: -webkit-fill-available;
    column-gap: 12px;
}

.right-bar {
    display: flex;
    width: 100%;
    justify-content: right;
    align-items: baseline;
    column-gap: 12px;
}
