.plotly-chart {
    height: 100%;
    width: 100%;
    max-height: 110px;
    max-width: 100px;

    * {
        max-height: 110px;
        max-width: 100px;
    }

    &.expanded {
        min-width: 600px;
        max-height: unset;
        max-width: unset;
        
        div {
            width: 75%;
        }

        * {
            max-height: unset;
            max-width: unset;
        }

    }
}

.plotly-container {
    &.expanded {
        height: 100%;
        width: 75%;
    }

}

.chart-thumbnail {
    padding-top: 5px;
}