.cell {
    position: relative;
    min-height: 55px;
//    min-width: 100px;
//    max-width: 100px;

    margin-left: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    display: flex;
    align-items: center;

    &.header {
        min-height: 12px;
    }

    &.group {
        min-height: 120px;
    }

    &.expanded {
        max-width: unset;
    }
}

.cell-content {
    width: 100%;

    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #3d4355;

}

.cell-content > img {
    border-radius: 0.25rem;
    max-width: 100%;
    max-height: 55px;
//    max-height: 100%;
    display: block;
}

.cell-json-expanded {
    overflow: auto;
}
